
@{
    ViewBag.Title = "EmployeeList";
    ViewBag.HeadingTitle = "Employee List";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}

<div class="container">
    <table class="table table-success table-striped table-hover">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Contact Info</th>
            <th>Role</th>
            <th>Action</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    <p class="mb-0">@item.Email</p>
                    <p class="mb-0">@item.Phone</p>
                </td>
                <td>
                    @(item.Role == zero_hunger.EF.Models.UserRole.Admin ? zero_hunger.EF.Models.UserRole.Admin : zero_hunger.EF.Models.UserRole.Regular)
                </td>
                
                <td>
                    <a href="@Url.Action("ChangeEmployeeRole", "Employee", new {id = item.Id})" class="btn btn-dark">Change Role</a>
                </td>
                
            </tr>
        }

    </table>

</div>

